/* ベース */
.base_container{
  position: relative;
  width: 65%;
  height: fit-content;
  background: url("./image/back_image/background.png") bottom / cover;
  margin: auto;
  padding: 75px 50px;
  align-items: center;
  align-content: center;
  border: solid rgb(255, 174, 0) 5px;
  border-radius: 10px;
  background-color: antiquewhite;
  z-index: -10;
}

/* タイムの表示 */
.time_container{
  position: absolute;
  width: 100%;
  top: 1%;
  left: 0;
}
.TIME{
  width: fit-content;
  margin: auto;
  color: gray;
}
#timer{
  width: fit-content;
  margin: auto;
  font-size: 40px;
  color: yellow;
  text-shadow: 0 0 10px rgb(20, 140, 220),
    0 0 20px #ffffff,
    0 0 30px #7c71f6;
}


/* 効果音の切替 */
.sound_container{
  position: absolute;
  right: 120px;
  top: 5px;
  padding: 0 10px;
}
#sound_item{
  background-color: gray;
}
#music_state{
  width: 20px;
}
/* 音声の表示 */
.music_container{
  position: absolute;
  right: 10px;
  top: 5px;
  padding: 0 10px;
}
.label{
  font-size: 3px;
  color: rgb(217, 255, 2);
  font-weight: bold;
  text-align: center;
}
.music_box{
  display: flex;
  background-color: gray;
  height: fit-content;
  width: 80px;
  border-radius: 15px;
  padding: 3px 5px;
  color: white;
  justify-content: center;
}
.music_box p{
  font-size: 10px;
  height: fit-content;
  font-weight: bold;
  margin: 0 5px;
}
#music_state{
  width: 20px;
}


/* 問題文の表示 */
.question{
  width: fit-content;
  height: 95px;
  /* align-content: center; */
  /* align-items: center; */
  margin:auto;
  margin-top: 35px;
  position: relative;
  /* text-align: center; */
}
#image_container{
    position: absolute;
    top: 105px;
    left: 28%;
    height: 260px;
    width: 44%;
    border: seagreen solid 3px;
    border-radius: 8px;
    margin: auto;
    background: url("./image/back_image/top_image.jpg") top / contain;
    z-index: -5;
}
#kana{
  width: fit-content;
  margin:  auto;
  color: snow;
  margin-top: 180px;
  text-shadow: 0 0 10px crimson,
    0 0 20px #ffffff,
    0 0 30px #71F6AB;
}
.question h1{
  font-size: 40px;
  text-shadow: 0 0 10px snow,
    0 0 20px #ffffff,
    0 0 30px #71F6AB,
    0 0 40px #71F6AB,
    0 0 50px #71F6AB,
    0 0 60px #71F6AB,
    0 0 70px #71F6AB;
}
.sub_done{
  display: inline-block;
  margin: unset;
  padding: unset;
  color: crimson;

}
.sub{
  display: inline-block;
  margin: unset;
  padding: unset;
  color: rgb(0, 128, 255);
}


/* 入力に関する表示 */
.shot_bar{
  position: absolute;
  top: 20px;
  left: 20px;
  width: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: snow;
  font-weight: bold;
}
.shot_bar p{
  width: 160px;
  margin: 0 0 0 20px;
}
.shot_bar label{
  font-size: 12px;
  color: crimson;
}
#shot{
}
#consecutive_success{
}
#miss_shot{
}
#max-success{
}
#success_rate{
}
#mode{
  border: solid black 3px;
  border-radius: 20px;
  width: fit-content;
  padding: 0 10px;
  margin-bottom: 8px;
  background-color: rgb(71, 200, 49);
  color: snow;
}
input{
  border-radius: 8px;
  text-align: center;
  width: 100px;
}
input:focus{
  outline:solid 5px crimson;
}




/* ランク結果の表示 */
.rank_body{
  position: absolute;
  width: 74%;
  height: 89%;
  top: 4%;
  right: 10px;
  border: 10px solid blue;
  border-radius: 30px;
  z-index: 40;
  background-color: white;
  overflow: hidden;
  transition: all 1s;
  opacity: 0;
}
.appear{
  opacity: 1;;
}

#image{
  background: url("./top_image.jpg") top / contain;
  width: 100%;
  height: 80%;
  z-index: 40;
}
.next_btn{
  position: absolute;
  top: 0%;
  left: 25%;
  width: 50%;
  margin: 0;
  text-align: center;
  background-color: black;
  color: yellow;
  border-radius: 10px;
  transition: all 2s;
  animation: flash 0.8s linear infinite;
}
@keyframes flash {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.rank{
  position: absolute;
  bottom: -4%;
  width: 101%;
  left: -4%;
  padding: 0 20px;
  background-color: snow;
  border: 3px solid blue;
  z-index: 45;
}
.rank h3{
  margin: 5px 0 0 20px;
}
.rank_name_c{
  text-align: center;
  color: blue;
  transition: all 2s;
  font-size: 50px;
  margin: 0 20px;
}
.rank_data_c{
  text-align: center;
  color: blue;
  transition: all 2s;
}


/* キーボードのコンテナ */
.keyboard{
  position: relative;
  margin-top: 20px;
 
}
/* スタートの表示 */
#start_key{
  position: absolute;
  top: -106%;
  left:30%;
  width: 40%;
  z-index: 30;
  margin: auto;
  text-align: center;
  background-color: rgb(50, 50, 49);
  color: rgb(255, 232, 80);
  border-radius: 5px;
  animation: flash 2.0s linear infinite;
}
@keyframes flash {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/* キーボード */
table{
  /* position: absolute; */
  margin: auto;
  width: fit-content;
  border: 3px rgb(0, 0, 0) solid;
  border-radius: 10px;
  padding: 8px 20px;
  background-color: silver;
}
tr{
  display: block;
  border-right: solid 2px black;
  border-left: solid 1px black;
  background-color: silver;
  padding: 0 10px;
}
.num_line{
  margin-top: 10px;
  border-top: solid 1px black;
}
.fst_line{
  padding-left: 15px;
}
.sec_line{
  padding-left: 30px;
}
.trd_line{
  padding-left: 45px;
}
.space_line{
  padding-left:160px ;
  border-bottom: black solid 1px;
  box-shadow:0px -10px 10px -10px black inset;
}
td{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px;
  border: rgb(85, 85, 85) solid 1px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  background-color: rgb(71, 71, 71);
  box-shadow: 2px 0.15em 0 rgb(0, 0, 0);
  color: snow;
}
.space{
  width: 140px;
  margin-bottom: 10px;
}

/* ホームポジション */
.a,.s,.d,.f,.j,.k,.l,.semicolon{
  background-color: rgb(98, 137, 97);
}

/* 押したキーの色 */
.pressing {
  background-color: crimson;
  color: white;
  font-weight: bold;
  transform: translate3d(0, 0.15em, 0);
  box-shadow: none;
}
.sc_pressing {
  background-color: goldenrod;
  color: black;
  font-weight: bold;
  transform: translate3d(0, 0.15em, 0);
  box-shadow: none;
}
/* 次に押すべきキーの色 */
.push_me {
  background-color: rgb(0, 136, 255);
  color: white;
  font-weight: bold;
  -webkit-filter: drop-shadow(0px 3px 10px rgba(73, 141, 252, 0.8));
    filter: drop-shadow(0px 0px 10px rgba(73, 141, 252, 0.8));
}

